<div class="container-fluid footer">
<p>Kate's Cake Shop © 2018 - All Rights Reserved </br ></p>
<p>Website developed by <a href="https://markt-dev.org"> >>markt-dev.org</p>

</div>




      

</html>