<% include ../../partials/admin-header.ejs %>

<div class="container">
    <div class="row">
<h1 style="text-align: center">Create a new service</h1>

        <div class="form-centering">
        <form action="/test" method="POST">
            <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="name">
            </div>
            <div class="form-group">
            <input class="form-control"  type="text" name="smalltitle" placeholder="image">
            </div>
             <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="stack">
            </div>

            <div class="form-group">
            <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </div>           
            
    
    </form>
    <a href="/">Back to the Homepage</a> 

