<% include partials/header.ejs %>

<div class="container-fluid">
<hr>
</div>

<div class="row container col-centered">  

        <div class="col-xs-12 col-md-4">
        <h1>WHO WE ARE</h1>
        <div class="about-us-pic"></div>
        <h3>Sociistoque pentibus et magnis diarturto ascetur rimulug aleada</h3>
        <p>Nummy nrerit uris. Pha sellrtsce scipitvarius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
        <button type="button" class="btn btn-success">Read more</button>
        </div>
        
        <div class="col-xs-12 col-md-4">
         <h1>OUR MISSION</h1>
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">1.</div>
                </div>               
                <div class="col-md-9 centered"> 
                    <p class="title">NUMMY NRERIT URIS PHA SELL</p>
                </div>
                <p class="mission-statement-blurb">Sociistoque pentibus et magnis diarturto ascetur rimulug aleada</p>
            </div>
             
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">2.</div>
                </div>
                <div class="col-md-9 centered"> 
                    <p class="title">NUMMY NRERIT URIS PHA SELL</p>
                </div>
                <p class="mission-statement-blurb">Sociistoque pentibus et magnis diarturto ascetur rimulug aleada</p>
            </div>
             
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">3.</div>
                </div>
                <div class="col-md-9 centered"> 
                    <p class="title">NUMMY NRERIT URIS PHA SELL</p>
                </div>
                <p class="mission-statement-blurb">Sociistoque pentibus et magnis diarturto ascetur rimulug aleada</p>
            </div>
        </div>

            <div class="col-xs-12 col-md-4">
            <h1>OUR TEAM</h1>
                <div class="container"> 
                    <div class="row">
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    </div>
                
                
                    <div class="row">
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    </div>
                
                
                   <div class="row">
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    <div class="col-md-6 our-team-pic"><img class="team-image" src="/page2_pic2.jpg"></div>
                    </div>
                
                    </div>
            </div>
        </div>  
    </div>  
   
</div>



<div class="container-fluid grey-background">
    <div class="container">
        <h1 class="text-center">What people say about us</h1>

        <div class="row">      
            <div class="col-md-3">
                <div class="inverted-speech-bubble">Nummy nrerit uris. Pha sellrtsce scipit varius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada.
                </div>
                <p class="about-testimonial-name">MARK T</p>
            </div>
           
            <div class="col-md-3">
                <div class="inverted-speech-bubble">Nummy nrerit uris. Pha sellrtsce scipit varius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada.
                </div>
                <p class="about-testimonial-name">MARK T</p>
            </div>
            <div class="col-md-3">
                <div class="inverted-speech-bubble">Nummy nrerit uris. Pha sellrtsce scipit varius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada.
                </div>
                <p class="about-testimonial-name">MARK T</p>
            </div>
            <div class="col-md-3">
                <div class="inverted-speech-bubble">Nummy nrerit uris. Pha sellrtsce scipit varius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada.
                </div>
                <p class="about-testimonial-name">MARK T</p>
            </div>
        </div>

    </div>
    

</div>

<div class="container footer">Kate's cake shop © 2018 • All rights reserved</div>