<% include partials/header.ejs %>

<div class="container-fluid">
<hr class="mb-5">
</div>

<div class="row container col-centered">  

        <div class="col-xs-12 col-md-6">
        <h1 class="font-weight-bold">ABOUT KATE'S CAKE SHOP</h1>
        <div class="about-us-pic"></div>
        <h3 class="mt-3">Dessert wafer I love I love cake oat cake I love muffin chocolate bar.</h3>
        <p class="font-weight-light">Gummies cotton candy sweet cotton candy powder pie muffin jelly beans. Gummies marshmallow dragée pie croissant.</p>
        </div>
        
        <div class="col-xs-12 col-md-6">
         <h1 class="font-weight-bold">OUR WAYS</h1>
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">1.</div>
                </div>               
                <div class="col-md-9 centered"> 
                    <p class="title accent-color1">100% HOME-MADE CAKES</p>
                </div>
                <p class="mission-statement-blurb">Gummies cotton candy sweet cotton candy powder pie muffin jelly beans. Gummies marshmallow dragée pie croissant.</p>
            </div>
             
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">2.</div>
                </div>
                <div class="col-md-9 centered"> 
                    <p class="title accent-color2">GLUTEN-FREE CAKES</p>
                </div>
                <p class="mission-statement-blurb">Gummies cotton candy sweet cotton candy powder pie muffin jelly beans. Gummies marshmallow dragée pie croissant.</p>
            </div>
             
          <div class="mission-statement row">
                <div class="col-md-3">
                    <div class="circle">3.</div>
                </div>
                <div class="col-md-9 centered"> 
                    <p class="title accent-color3">MADE TO ORDER</p>
                </div>
                <p class="mission-statement-blurb">Gummies cotton candy sweet cotton candy powder pie muffin jelly beans. Gummies marshmallow dragée pie croissant.</p>
            </div>
        </div>   
</div>


<div class="clearfix"></div>
<div class="container-fluid about-grey-background">
    <div class="container">
        <h1 class="text-center-testimonials font-weight-bold">My lovely customers</h1>

        <div class="row">      
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="inverted-speech-bubble font-italic">"5* service, delicious cakes, cheap prices."
                </div>
                <p class="about-testimonial-name">Mark T.</p>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="inverted-speech-bubble font-italic">"Hands down the best cakes in Manchester."
                </div>
                <p class="about-testimonial-name">Reka K.</p>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-3">
                <div class="inverted-speech-bubble font-italic">"Kate's made a cake for my last birthday, it was delicious."
                </div>
                <p class="about-testimonial-name">Dora K.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="inverted-speech-bubble font-italic">"Great!!!"
                </div>
                <p class="about-testimonial-name">Dawid G.</p>
            </div>
        </div>

    </div>
    

</div>

<% include partials/footer.ejs %>

