<% include partials/header.ejs %>

<div class="container-fluid">
<hr>
</div>

<div class="container">
    <div class="iframe-container contact-map"> 
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.7472988565764!2d-2.2426411841567617!3d53.47297618000576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1eb7a86428d%3A0x756df9742a7d6b16!2sCheeky+Coffee+Co!5e0!3m2!1shu!2suk!4v1522732909435" width="650" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h1 class="font-weight-bold">Addresses</h1>
            <h3>Address 1</h3>
            <p>The Company Name Inc. 
            8901 Marmora Road, Glasgow, D04 89GR.</p>

            <h3>Telephones:</h3>
            <p>+1 800 559 6580<br />
            +1 800 603 6035</p>

            <h3>Address 1</h3>
            <p>The Company Name Inc. 
            8901 Marmora Road, Glasgow, D04 89GR.</p>





        

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
        <h1 class="font-weight-bold">Contact Form</h1>  
            <form>
                <label for="fullname">Full Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your full name here...">

                <label for="pnumber">Phone Number</label>
                <input type="text" id="lname" name="lastname" placeholder="Your phone number...">   

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write your message here..." style="height:200px"></textarea>

                <input class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>
        

    </div>
</div>

</div>

    <div class="container-fluid">
<hr class="m-5">
</div>



<% include partials/footer.ejs %>

  
