<% include partials/header.ejs %>

<div class="container-fluid">
<hr>
</div>

<div class="container">
    <h1 class="text-center font-weight-bold mb-5">SPECIAL OFFERS FOR 2017</h1>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class"offer-wrapper">
                <div class="thumbnail accent-background1">
                    <figure><img src="/page4_pic1.jpg"></figure>
                    <div class="caption pushed-down"><p>Free 100 Portion Cutting Cake with all Wedding Cakes valued over £350</p></div>
                </div>
                <h3>Nummy nrerit uris. Pha sellrtsce scipitvarius mi.</h3>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
            </div>
        </div>

       <div class="col-lg-6 col-md-6 col-sm-6">
            <div class"offer-wrapper">
                <div class="thumbnail accent-background2">
                    <figure><img src="/page4_pic1.jpg"></figure>
                    <div class="caption pushed-down"><p>Free 100 Portion Cutting Cake with all Wedding Cakes valued over £350</p></div>
                </div>
                <h3>Nummy nrerit uris. Pha sellrtsce scipitvarius mi.</h3>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class"offer-wrapper">
                <div class="thumbnail accent-background3">
                    <figure><img src="/page4_pic1.jpg"></figure>
                    <div class="caption pushed-down"><p>Free 100 Portion Cutting Cake with all Wedding Cakes valued over £350</p></div>
                </div>
                <h3>Nummy nrerit uris. Pha sellrtsce scipitvarius mi.</h3>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
            </div>
        </div>

         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class"offer-wrapper">
                <div class="thumbnail accent-background1">
                    <figure><img src="/page4_pic1.jpg"></figure>
                    <div class="caption pushed-down"><p>Free 100 Portion Cutting Cake with all Wedding Cakes valued over £350</p></div>
                </div>
                <h3>Nummy nrerit uris. Pha sellrtsce scipitvarius mi.</h3>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
                <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
<hr class="m-5">
</div>

<% include partials/footer.ejs %>