<% include partials/header.ejs %>

<div class="container-fluid">
<hr>
</div>

<div class="container">

    <h1 class="text-center font-weight-bold">WEDDING CAKE SERVICES</h1>
    <h4 class="text-center mb-5 mt-1 font-weight-bold">Choosing your Wedding Cake</h4>

    <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-7">
            <img src="/page3_pic1.jpg" class="w-100">
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5">
            <img src="/page3_pic2.jpg" class="w-100">
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-4 col-lg-4 col-sm-4">
            <p class="mt-5 text-uppercase font-weight-bold">Choosing your Wedding Cake</h4>
            <p>Nummy nrerit uris. Pha sellrtsce scipitvarius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-4">
            <p class="mt-5 text-uppercase font-weight-bold">Choosing your Wedding Cake</h4>
            <p>Nummy nrerit uris. Pha sellrtsce scipitvarius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-4">
            <p class="mt-5 text-uppercase font-weight-bold">Choosing your Wedding Cake</h4>
            <p>Nummy nrerit uris. Pha sellrtsce scipitvarius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus necuus a loremcenas tristique ori ac sem. Duis ultrices pharetra gna. Donec accumsaalda ornec sit amet eros. Lorem ipm do amt consc tetu er aiing elit. Mauris fermentum tum magna.</p>
        </div>     
    </div>
</div>

<div class="container-fluid grey-background mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 class="font-weight-bold">SOME IMPORTANT INFO</h1>
                <ul class="list-unstyled">
                    <li>
                        <h3>PAYMENT</h3>
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>           
                    </li>
                    <li>
                        <h3>ALTERATIONS</h3>
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>  
                    </li>
                    <li>
                        <h3>CANCELLATIONS</h3>
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>  
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 class="font-weight-bold">DELIVERY AND COLLECTION</h1>
                <ul class="list-unstyled">
                    <li>
                        <h3>DELIVERY</h3>
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>           
                    </li>
                    <li>
                        <h3>COLLECTION</h3>
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>  
                    </li>                 
                </ul>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 class="font-weight-bold">MINI INDIVIDUAL CAKES</h1>
                <ul class="list-unstyled">
                    <li>
                        <img src="/page3_pic3.jpg" class="w-100 mb-3"></h3>                                  
                    </li>
                    <li>                        
                        <p>Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada odior bi dio gravida atcurus nec uus a loremcenas tristique ori ac sem.</p>  
                    </li>                   
                </ul>
            </div>
        </div>
    </div>




</div>

<% include partials/footer.ejs %>
